body {
  background: #fff;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 2em;
}

section {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-family: Helvetica;
}

.contrasted {
  background-color: #60D2D9; 
  padding: 5px; 
  display: inline;
}

.hexagon-wrapper {
  text-align: center;
  margin: 20px;
  position: relative;
  display: inline-block;
}

.hexagon {
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;
  background-color: #60D2D9; 
}

.hexagon:before {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(60deg);
}

.hexagon:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(-60deg);
}
