body {
  background: #fff;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 2em;
}

section {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-family: Helvetica;
}

svg {
  vertifcal-align: text-bottom;
}

.contrasted {
  background-color: #60D2D9; 
  padding: 5px; 
  display: inline;
  line-height: 1.5;
}
